# Dependencies
node_modules/

# Environment Variables
client/.env
server/.env

# Build Files
client/dist/

# Uploaded Files
server/uploads/*
!server/uploads/.gitkeep

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db